<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" />
    <title>BiBlog</title>
</head>
<body>
    <nav id="navbar">
        <h1><a href= "/" aria-label="Home Page">BiBlog</a></h1>
        <ul id="nav-options">
            <li class="nav-lists"><a href= "/" aria-label="Home Page with all the blogs" class="nav-links">Blogs</a></li>
            <li class="nav-lists"><a href ="/author" aria-label="Read about the author" class="nav-links">About Author</a></li>
        </ul>
</nav>

</html>